<div class="content">
  <div class="container">
    <app-search [model]="search" (changeModel)="changeSearch($event)"></app-search>
    <div class="card" *ngIf="isLoaded">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Название</th>
          <th scope="col">Место</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of model?.competitions | competitionSearch: search; let i = index;">
          <td>{{i + 1}}</td>
          <td>
            <a [routerLink]="['team-list', item.id]">
              {{item.name}}
            </a>
          </td>
          <td>{{item.area?.name}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

