<div class="card">
  <div class="row">
    <div class="col-md-5 mb-3 mb-md-0">
      <label for="from" class="form-label">Дата начала периода:</label>
      <input type="date" class="form-control" id="from" [(ngModel)]="model.from">
    </div>
    <div class="col-md-5 mb-3 mb-md-0">
      <label for="to" class="form-label">Дата окончания периода:</label>
      <input type="date" class="form-control" id="to" [(ngModel)]="model.to">
    </div>
    <div class="col-md-2 flex-end">
      <button class="btn btn-primary w-100"
              (click)="changeFilterModel()"
              [disabled]="!isBtnEnable()">Найти</button>
    </div>
  </div>
</div>
